In [1]:
# Create Linear Regression Class

In [60]:
import numpy as np
from numpy.linalg import inv
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [64]:
df = pd.read_csv('data/boston.csv')
df.head()

,crime,zoned,industry,river,nox,rooms,age,distance,access,tax,teachers,blacks,lowstatus,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [74]:
class lRegression:
    
    def __init__(self, fit_intercept=True):
        self.fit_intercept=True
    
    def fit(self, X, y, sample_weight=None):
        X0 = np.repeat(1,len(X)).reshape(-1,1)
        X = np.hstack((X0,X))
        
        y = y.values
        
        Xt = np.transpose(X)
        self.coef_ = np.dot(inv(np.dot(Xt,X)), np.dot(Xt,y))
    
    def test(self,text='word'):
        self.test_word = 'word'

In [66]:
X_df = df.drop('medv',1)
y = df[['medv']]

In [75]:
mod = lRegression()
mod.fit(X_df,y)

In [76]:
mod.coef_

array([[ 3.64594884e+01],
       [-1.08011358e-01],
       [ 4.64204584e-02],
       [ 2.05586264e-02],
       [ 2.68673382e+00],
       [-1.77666112e+01],
       [ 3.80986521e+00],
       [ 6.92224640e-04],
       [-1.47556685e+00],
       [ 3.06049479e-01],
       [-1.23345939e-02],
       [-9.52747232e-01],
       [ 9.31168327e-03],
       [-5.24758378e-01]])

In [78]:
mod.test('pizza')
mod.test_word

'word'