In [1]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_csv('data/abcnews-date-text.csv',nrows=5000)

# Basic Pre-Processing

In [32]:
df.head()

   publish_date                                      headline_text
0      20030219  aba decides against community broadcasting lic...
1      20030219     act fire witnesses must be aware of defamation
2      20030219     a g calls for infrastructure protection summit
3      20030219           air nz staff in aust strike for pay rise
4      20030219      air nz strike to affect australian travellers

In [33]:
# Lower Case
df['headline_text'] = df['headline_text'].apply(lambda x: x.lower())

In [34]:
# Remove Punctuation
df['headline_text'] = df['headline_text'].str.replace('[^\w\s]','')

In [35]:
# Remove Stop Words
from nltk.corpus import stopwords
stop = stopwords.words('english')
df['headline_text'] = df['headline_text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

In [39]:
# Common Word Removal
freq = pd.Series(' '.join(df['headline_text']).split()).value_counts()[:10]
freq = list(freq.index)
df['headline_text'] = df['headline_text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))

In [45]:
# Tokenization
from textblob import TextBlob
TextBlob(df['headline_text'][1]).words

WordList(['act', 'fire', 'witnesses', 'must', 'aware', 'defamation'])

In [46]:
# Stemming
from nltk.stem import PorterStemmer
st = PorterStemmer()
df['headline_text'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0         aba decid commun broadcast licenc
1              act fire wit must awar defam
2       g call infrastructur protect summit
3         air nz staff aust strike pay rise
4    air nz strike affect australian travel
Name: headline_text, dtype: object

In [47]:
df['headline_text'][:5]

0    aba decides community broadcasting licence
1      act fire witnesses must aware defamation
2      g calls infrastructure protection summit
3             air nz staff aust strike pay rise
4    air nz strike affect australian travellers
Name: headline_text, dtype: object